# GITHUB generated Rules
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


# Custom Rules
build
CMakeLists.txt.user
.vscode
*_autogen
nx-software-updater
qrc_qml.cpp
qml.qrc.depends
entities_tests
nx-software-updater_helper
org.nxos.softwareupdater.conf
org.nxos.softwareupdater.policy
org.nxos.softwareupdater.service
