Source: nx-software-updater
Section: unknown
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: debhelper (>= 9), g++ (>=7), extra-cmake-modules, qtbase5-dev, qtdeclarative5-dev, libkf5auth-dev
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/nx-software-updater.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nx-software-updater.git

Package: nx-software-updater
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
