Source: nx-software-updater
Section: main
Priority: optional
Maintainer: Anupam Basak <anupam.basak27@gmail.com>
Build-Depends: debhelper (>= 9), g++ (>=7), cmake(>=3), extra-cmake-modules, qtbase5-dev, qtdeclarative5-dev, libkf5auth-dev, libkf5coreaddons-dev, libkf5kcmutils-dev, libkf5i18n-dev, libkf5plasma-dev, libkf5kdelibs4support-dev, libkf5declarative-dev
Standards-Version: 3.9.8
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/nx-software-updater.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nx-software-updater.git

Package: nx-software-updater
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GUI Software Updater
 A Simple GUI Software Updater built for Nitrux OS
